.myDiv {
    background: #333;
    /* padding: 5px 20px; */
}

.myDiv p {
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
}

.col-3 p {
    padding: 10px 30px;
}


/*under 900px*/
.restaurant-img {
    margin: 10px auto;
    display: block;
  }

  h1 {
    margin: 10px auto;
    font-size: 16pt;
  }

  p.rating {
      text-transform: uppercase;
      color: white;
      background: orange;
      padding: 1% 1% 1% 1% !important;
      width: max-content;
      /* text-align: right; */
      margin-left: 4%;
      margin-top: 1%;
      margin: 1% 4%;
      font-weight: bold;
      border-radius: 5px;
      /* width: auto; */
  }
